<style>
html,
body {
	height: 100%;
}
.tdcolor{
	color:white;
}
body {
	/*text-align: center;*/
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}

  .container {
  	/*position: absolute;*/
  	/*top: 50%;*/
  	/*left: 50%;*/
  	/*transform: translate(-50%, -50%);*/
  }

table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}

</style>

<div class="dropdown clearfix" style="float:left;margin:80px 20px 10px 140px;">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
        </li>
        <li>
            <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>

        </li>
        <li>
          <%= link_to("按照发表时间排序", jobs_path ) %>

        </li>
    </ul>
</div>
<div style="margin-top:80px;">
  <%=search_form_for @search do |f|%>
  <%=f.label "职位搜索："%>
  <%=f.search_field :title_cont%>
  <span class="input-group-btn" style="display:inline;">
            <button type="submit" class="btn btn-default" style="background-color:transparent;border-color:transparent;">
              <span class="glyphicon glyphicon-search" ></span>
            </button>
  </span>
  <%end%>
</div>

<div class="container" style="padding:10px;" >
	<table>
		<thead>
			<tr>
				<th>职缺</th>
				<th>薪资下限</th>
				<th>薪资上限</th>
				<th>刊登时间</th>
			</tr>
		</thead>
		<tbody>
			<% @jobs.each do |job| %>
		  <tr>
		    <td>
		      <%= link_to(job.title, job_path(job),:class=>'tdcolor') %>
		    </td>
		    <td>
		      <%= job.wage_lower_bound%>
		    </td>
		    <td>
		      <%= job.wage_upper_bound%>
		    </td>
		    <td>
		      <%= job.created_at%>
		    </td>

		  </tr>
		  <% end %>
		</tbody>
	</table>
</div>




<!--

<table class="table table-boldered">
  <thead>
          <tr>
              <td></td>
              <td>薪资下限</td>
              <td>薪资上限</td>
              <td>刊登时间</td>
          </tr>

      </thead>
  <tbody>
  <% @jobs.each do |job| %>
  <tr>
    <td>
      <%= link_to(job.title, job_path(job)) %>
    </td>
    <td>
      <%= job.wage_lower_bound%>
    </td>
    <td>
      <%= job.wage_upper_bound%>
    </td>
    <td>
      <%= job.created_at%>
    </td>
    <td>
      <%= job.created_at %>
    </td>
  </tr>
  <% end %>
</tbody>

</table> -->
